:root:has(.mode input:checked) {
  --primary-hue: 35;
  --primary-lightness: 44%;
  --primary-saturation: 72%;
  --light-hue: 0;
  --light-saturation: 0%;
  --light-lightness: 9%;
  --color-default: #fff;
  --color-secondary: #fff;
  --color-tertiary: #9f9f9f;
  --color-light-grey: #252525;

}

body:has(.mode input:checked) .light {
  display: block;
}

body:has(.mode input:checked) .dark {
  display: none;
}




:root:has(.mode input:checked) .card-body,
:root:has(.mode input:checked) .card {
  background-color: rgba(56, 56, 56, 0.973);
  color: var(--color-default);
}

:root:has(.mode input:checked) .info>div {
  background-color: black;
}