/* ============>start chefs<=============== */

/* =====================nav=============== */
/* .home {
    display: none;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
    }

    75%,
    100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
    }
}

.preLoader {
    width: 100lvw;
    height: 100lvh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

    #startEngine {
        position: absolute;
    }

    .loader {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        position: relative;
        animation: rotate 1s linear infinite forwards
    }

    .loader::before,
    .loader::after {
        content: "";
        box-sizing: border-box;
        position: absolute;
        inset: 0px;
        border-radius: 50%;
        border: 5px solid #FFF;
        animation: prixClipFix 2s linear infinite forwards;
    }

    .loader::after {
        inset: 8px;
        transform: rotate3d(90, 90, 0, 180deg);
        border-color: #FF3D00;
    }


} */

.products {
    background-color: var(--color-light);

    .container {
        text-align: center;
        padding-top: 50px;


        .main-title {
            margin: 3.125rem auto 2.5rem;

            h2 {
                color: var(--color-tertiary);
                font-size: 0.875rem;
                font-weight: 400;
                text-transform: uppercase;

                p {
                    font-family: var(--font-primary);
                    font-size: 3.125rem;

                    span {
                        color: var(--color-primary);
                    }
                }
            }
        }

        .search-container {
            position: sticky;
            margin: 0px 5px;
            top: 72px;
            z-index: 11;
            background-color: var(--color-light);
            padding: 5px 0px;

            span {
                position: absolute;
                border-radius: 100%;
                right: 18px;
                top: 7px;
                color: var(--color-primary);
            }
        }
    }
}




/* ================>footer section <=============== */

